
header{
  background-color: #f15b31;
  padding: 30px 20px;
}

nav{
background-color: #00A6B3;
padding: 20px 0;

}
main{
width: 850px;
margin: 35px auto;

}
img{
margin: 40px 8px;

}
h1 {
font-family: "Raleway", sans-serif;
font-weight: 200;
color: #ffffff;
letter-spacing: 1px;
font-size: 45px;
margin:0;
}
h3{
  
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #0D2C40;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;

}
p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}

a{
border-bottom: 2px solid transparent;
font-family: "Raleway", sans-serif;
font-weight: 300;
color: #fff;
letter-spacing: 1px;
font-size: 18px;
text-decoration:none;
margin: 0 20px;
border-bottom: 2px solid transparent;
}
a:hover{
border-color: white;

}


body{
text-align: center;
margin:0;
}
footer{
text-transform: uppercase;
padding: 0 20px;
background-color: #0D2C40;
color:white;
font-size: 14px;
letter-spacing: 0.08em;
font-weight: 500;
}
.copyright{
  font-family: "Raleway", sans-serif;
float: left;
}
.message{
  font-family: "Raleway", sans-serif;
  float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
color:#f15831;
font-weight: 700;

}
